Repository FinnFatio/Nuv2: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, mypy-strict

mypy:
  name: mypy
  entry: mypy --config-file mypy.ini
  language: system

mypy-strict:
  name: mypy (strict)
  entry: mypy --config-file mypy.ini --strict
  language: system

export primitives
  primitives.py
Due: mypy

Add uvicorn to requirements
  requirements.txt
Due: none

Add HEAD route for health check
  api.py
  tests/test_api.py
Due: mypy-strict

Fix type errors in API and add typed health checks
  api.py
  mypy.ini
Due: mypy-strict

Improve rate limiting and metrics
  .pre-commit-config.yaml
  api.py
  cli_helpers.py
  metrics.py
  settings.py
  tests/test_api.py
  tests/test_cli_io.py
  tests/test_metrics.py
Due: mypy, mypy-strict

Add SAFE_MODE default and cap rate-limit queue
  api.py
  settings.py
Due: mypy, mypy-strict

Parse first IP in X-Forwarded-For
  api.py
  tests/test_api.py
Due: mypy-strict

Clarify DPI awareness fallback
  what_is_under_mouse.py
Due: none

docs: mark milestone M0 completed
  Milestone.md
  chatgpt.md
Due: none

feat: enrich UIA metadata and add text fusion heuristics
  docs/usage.md
  hover_watch.py
  metrics.py
  primitives.py
  resolve.py
  settings.py
  tests/test_api.py
  tests/test_hover_watch.py
  tests/test_metrics.py
  tests/test_resolve.py
  tests/test_uia_import.py
  tests/test_uia_metadata.py
  uia.py
Due: mypy, mypy-strict

docs: update milestone progress
  Milestone.md
Due: none

feat: add element-based OCR fusion
  Milestone.md
  ocr.py
  resolve.py
  tests/test_api.py
  tests/test_inspect_point.py
  tests/test_resolve.py
  tests/test_uia_metadata.py
Due: mypy-strict

MilestoneUpdates3
  Milestone.md
Due: none

feat: cache stable control and window ids
  resolve.py
  tests/test_resolve.py
  uia.py
Due: mypy-strict

feat: secure tool dispatch endpoints
  api.py
  dispatcher.py
  policy.py
  registry.py
  requirements.txt
  screenshot_cli.py
  settings.py
  tests/test_api.py
  tests/test_dispatcher_tools.py
  tools/__init__.py
  tools/archive.py
  tools/fs.py
  tools/system.py
  tools/web.py
Due: mypy, mypy-strict

chore: finalize milestone m2 and refine typing setup
  .pre-commit-config.yaml
  Milestone.md
  api.py
  mypy.ini
  screenshot.py
  typings/pytesseract/__init__.pyi
Due: mypy-strict

tighten web ssrf, add metrics
  dispatcher.py
  metrics.py
  policy.py
  tools/archive.py
  tools/web.py
Due: none

Milestone_llm
  Milestone_llm.md
Due: none

Milestonesllm2
  Milestone_llm.md
Due: none

feat: add deterministic testing hooks and circuit breaker
  Milestone_llm.md
  agent_local.py
  registry.py
  tests/test_agent_local.py
Due: none

test: adapt agent tests for safe mode
  agent_local.py
  dispatcher.py
  tests/test_agent_local.py
Due: none

TodoList
  ToDo-List-Detailed.md
Due: none

feat: validate schema ranges and log tool limit
  ToDo-List-Detailed.md
  agent_local.py
  registry.py
  tests/test_agent_local.py
Due: none

feat: normalize tool reply whitespace and detail timeouts
  Milestone_llm.md
  ToDo-List-Detailed.md
  agent_local.py
  dispatcher.py
  metrics.py
  registry.py
  settings.py
  tests/test_agent_local.py
  tests/test_dispatcher_tools.py
  tests/test_metrics.py
  tests/test_settings.py
Due: mypy

test(policy): cover explain-first gates
  Milestone_llm.md
  policy.py
  tests/test_policy.py
  tools/__init__.py
  tools/system.py
Due: none

Brainstorm
  NuV2_Brainstorm_UI_Agents.md
Due: none

feat: add agent telemetry metrics
  Milestone_llm.md
  agent_local.py
  metrics.py
Due: none

test: add agent E2E tests and update milestone
  Milestone_llm.md
  tests/test_agent_local.py
Due: none

Remove sample image asset and generate at runtime
  Milestone_llm.md
  agent_local.py
  experiments/llm_sandbox/nu_repl.py
  experiments/llm_sandbox/run_llm_eval_llamacpp.py
Due: none

Quickfix
  .gitignore
  experiments/llm_sandbox/nu_repl.py
  experiments/llm_sandbox/run_llm_eval_llamacpp.py
Due: none

feat: add llamacpp toolcall preamble and local fallback
  experiments/llm_sandbox/nu_repl.py
  experiments/llm_sandbox/run_llm_eval_llamacpp.py
Due: none

refactor: fix preamble string formatting
  experiments/llm_sandbox/nu_repl.py
  experiments/llm_sandbox/run_llm_eval_llamacpp.py
Due: none

chore: improve llamacpp sandbox for toolcalls
  experiments/llm_sandbox/nu_repl.py
  experiments/llm_sandbox/run_llm_eval_llamacpp.py
Due: none

Ensure preamble is injected into system messages
  experiments/llm_sandbox/nu_repl.py
  experiments/llm_sandbox/run_llm_eval_llamacpp.py
Due: none

QuickfixRequirements
  requirements.txt
Due: none

feat: enhance sandbox tools and mouse inspection
  agent_local.py
  experiments/llm_sandbox/nu_repl.py
  experiments/llm_sandbox/run_llm_eval_llamacpp.py
  tools/__init__.py
  tools/ui.py
Due: none

feat: improve tool parsing and metrics
  Milestone_llm.md
  agent_local.py
  experiments/llm_sandbox/nu_repl.py
  experiments/llm_sandbox/run_llm_eval_llamacpp.py
  metrics.py
  policy.py
  tools/ui.py
Due: none

Implement read-only tool suite
  Milestone_llm.md
  agent_local.py
  api.py
  dispatcher.py
  experiments/llm_sandbox/nu_repl.py
  experiments/llm_sandbox/run_llm_eval_llamacpp.py
  requirements-optional.txt
  requirements.txt
  tests/test_tools_readonly.py
  tools/__init__.py
  tools/archive.py
  tools/fs.py
  tools/system.py
  tools/ui.py
  tools/web.py
Due: mypy-strict

make llama cpp fallback optional
  Milestone_llm.md
  README.md
  experiments/llm_sandbox/dummy_llm.py
  experiments/llm_sandbox/nu_repl.py
  experiments/llm_sandbox/run_llm_eval_llamacpp.py
  requirements-optional.txt
  requirements.txt
  tests/test_agent_local.py
  tests/test_llm_fallback_disabled.py
  tools/system.py
  tools/ui.py
Due: none

Validate and cap toolcall args when auto-closing
  agent_local.py
  chatgpt.md
  tests/test_agent_local.py
Due: none

Path conditions:
  mypy: any of: ^(cli_helpers|logger|settings|primitives)\.py$
  mypy-strict: any of: ^(api|resolve|screenshot)\.py$
